---
apiVersion: v1
kind: Namespace
metadata:
  name: webservers
  labels:
    app.kubernetes.io/managed-by: kubectl
    environment: production

---
apiVersion: v1
kind: Namespace
metadata:
  name: databases
  labels:
    app.kubernetes.io/managed-by: kubectl
    environment: production

---
apiVersion: v1
kind: Namespace
metadata:
  name: storage
  labels:
    app.kubernetes.io/managed-by: kubectl
    environment: production
